<div class='row'>
	<div class='col-md-8 col-md-offset-2'>
		<%=render 'shared/entry'%>

		<div class='entry-comment'>
	    	<%=render 'shared/comment_form' %>

	     	<%=render @comments %>
		</div>
	</div>


</div>