<div class='row'>
	<div class='col-md-8 col-md-offset-2'>
		<%=render 'shared/entry' %>

		<div class='entry-comment'>
	    	<div class='clearfix'><%=render 'shared/comment_form', object: true %></div>
	    	<div class='comment'><%=render @comments %></div>
	     	
		</div>
	</div>


</div>