<%= provide(:title,'Home') %>
<div class='row'>
  <div class='col-md-8 col-md-offset-2'>
     <% if logged_in? %>
        <div class='errors'></div>
        <%= render 'shared/entry_post' %>
        <div class='feeds'><%= render @entries %></div>
        <%= will_paginate @entries %>
    <% else %>
        <p>Welcome</p>
    <% end %>

   </div>
</div>